@tailwind preflight;
@tailwind utilities;
/* Your custom CSS here */


.gradient {
  background-image: linear-gradient(rgba(236, 236, 236, 0) 0%, rgba(208, 75, 67,1) 60%);
}

.marker {
  width: 30px;
  height: 50px;
  background-image: url(./assets/pin.png);
  background-size: cover;
}

.marker.selected {
  width: 35px;
  height: 75px;
  background-image: url(./assets/pin-selected.png);
}

.marker.results {
  width: 30px;
  height: 50px;
  background-image: url(./assets/pin-results.png);
  background-size: cover;
}

.marker.selected.results {
  width: 35px;
  height: 75px;
  background-image: url(./assets/pin-selected-results.png);
  background-size: cover;
}
